.formulario{
    width: 300px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    border: 20px gray solid;
    color: white;
}

input, select{
    border: 2px red solid;
}

.formulario button{
    padding: 0.5em 0.5em;
    margin-right: 120px;
  border: none;
  cursor: pointer;
}

.separacion{
    color: white;
    margin-right: 120px;
}

select{
    margin-left: 118px;
}

label{
    display: inline-block;
    width: 80px;
  }